.body-pos-bencana {
    margin: 2vw;
    text-align: center;
}

.tabel-petugas{
    max-width: 90%;
    margin: auto
}
.sub-heading{
    padding: 2rem;
    text-transform: uppercase;
    color:#85929E;
    background-color: #F4F6F6;
}
.paper-form{
    width: 80vw;
    align-items: center;
    text-align: center;
    /* padding-left: 5rem; */
}

.button{
    text-align: center;
}