.isi {
    margin: 2vw;
}

.title {
    text-align: center;
    margin-bottom: 200px;
}

.isi-body {
    margin-top: 3vw;
}

.data {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 5vw;
}

.button {
    justify-content: center;
    align-items: center;
    align-content: center;
}