.table{
    padding: 2vh;
    text-transform: capitalize;
}

.no-data{
    padding: 2rem;
    text-align: center;
}


.form-bantuan{
    text-align: center;
}


.item-bantuan{
    padding:2rem;
}


.sub-heading{
    padding: 2rem;
    text-transform: uppercase;
    color:#85929E;
    background-color: #F4F6F6;
}